node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.vscode
.cta.json
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
public/drizzle.svg
public/example-guitar-*.jpg
public/example-ukelele-tanstack.jpg
