NODE_ENV=development
PORT=3001
WEB_PORT=3000
WEB_ORIGIN=http://localhost:3000
# Set at build time if the SPA should call a non-default API origin.
# VITE_RIP_API_URL=http://localhost:3001
DOWNLOAD_DIR=~/Downloads/Rip
MAX_CONCURRENT_DOWNLOADS=3
YTDLP_PATH=yt-dlp
